/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */
/* Copyright (C) Extended by ZOOlanders.com - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only */

/*
 * download
 */

/* display: button link */
.yoo-zoo.element-download-button,
.yoo-zoo.element-download-button span { display: block; }

.yoo-zoo.element-download-button {
	background: url(../images/download_button.png) 0 0 no-repeat;
	display: inline-block;
}

.yoo-zoo.element-download-button:link,
.yoo-zoo.element-download-button:visited { color: #646464; }

.yoo-zoo.element-download-button:hover {
	color: #505050;
	text-decoration: none;
}

.yoo-zoo.element-download-button > span {
	padding: 0px 26px 0px 11px;
	background: url(../images/download_button.png) 100% -30px no-repeat;
}

.yoo-zoo.element-download-button > span > span {
	height: 25px;
	padding-right: 4px;
	background: url(../images/download_button.png) 0 -60px repeat-x;
	overflow: hidden;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
}

.yoo-zoo.element-download-button:hover { background-position: 0 -90px; }
.yoo-zoo.element-download-button:hover > span { background-position: 100% -120px; }
.yoo-zoo.element-download-button:hover > span > span { background-position: 0 -150px; }