/* Copyright (C) JOOlanders, SL - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only */

/*
 * Download Pro - Image Link Default style
 */

.zl-zoo.element-download-type {
	display: block;
	width: 71px;
	height: 100px;
	background: url(download_type_unknown.png) 0 0 no-repeat;
}

.zl-zoo.element-download-type-ai { background-image: url(download_type_ai.png) }
.zl-zoo.element-download-type-aiff { background-image: url(download_type_aiff.png) }
.zl-zoo.element-download-type-avi { background-image: url(download_type_avi.png) }
.zl-zoo.element-download-type-bz2 { background-image: url(download_type_bz2.png) }
.zl-zoo.element-download-type-cdr { background-image: url(download_type_cdr.png) }
.zl-zoo.element-download-type-css { background-image: url(download_type_css.png) }
.zl-zoo.element-download-type-doc { background-image: url(download_type_doc.png) }
.zl-zoo.element-download-type-docx { background-image: url(download_type_doc.png) }
.zl-zoo.element-download-type-dwg { background-image: url(download_type_dwg.png) }
.zl-zoo.element-download-type-eps { background-image: url(download_type_eps.png) }
.zl-zoo.element-download-type-gif { background-image: url(download_type_gif.png) }
.zl-zoo.element-download-type-gz { background-image: url(download_type_gz.png) }
.zl-zoo.element-download-type-htm,
.zl-zoo.element-download-type-html { background-image: url(download_type_html.png) }
.zl-zoo.element-download-type-iso { background-image: url(download_type_iso.png) }
.zl-zoo.element-download-type-jp2,
.zl-zoo.element-download-type-jpg,
.zl-zoo.element-download-type-jpe,
.zl-zoo.element-download-type-jpeg { background-image: url(download_type_jpeg.png) }
.zl-zoo.element-download-type-js { background-image: url(download_type_js.png) }
.zl-zoo.element-download-type-mov { background-image: url(download_type_mov.png) }
.zl-zoo.element-download-type-mp3 { background-image: url(download_type_mp3.png) }
.zl-zoo.element-download-type-mp4 { background-image: url(download_type_mp4.png) }
.zl-zoo.element-download-type-mp2,
.zl-zoo.element-download-type-mpe,
.zl-zoo.element-download-type-mpeg,
.zl-zoo.element-download-type-mpg { background-image: url(download_type_mpg.png) }
.zl-zoo.element-download-type-odt { background-image: url(download_type_odt.png) }
.zl-zoo.element-download-type-ogg { background-image: url(download_type_ogg.png) }
.zl-zoo.element-download-type-pdf { background-image: url(download_type_pdf.png) }
.zl-zoo.element-download-type-png { background-image: url(download_type_png.png) }
.zl-zoo.element-download-type-ppt { background-image: url(download_type_ppt.png) }
.zl-zoo.element-download-type-pptx { background-image: url(download_type_ppt.png) }
.zl-zoo.element-download-type-ps { background-image: url(download_type_ps.png) }
.zl-zoo.element-download-type-psd { background-image: url(download_type_psd.png) }
.zl-zoo.element-download-type-rar { background-image: url(download_type_rar.png) }
.zl-zoo.element-download-type-rtf { background-image: url(download_type_rtf.png) }
.zl-zoo.element-download-type-svg { background-image: url(download_type_svg.png) }
.zl-zoo.element-download-type-tar { background-image: url(download_type_tar.png) }
.zl-zoo.element-download-type-tgz,
.zl-zoo.element-download-type-targz { background-image: url(download_type_tgz.png) }
.zl-zoo.element-download-type-tif,
.zl-zoo.element-download-type-tiff { background-image: url(download_type_tiff.png) }
.zl-zoo.element-download-type-txt { background-image: url(download_type_txt.png) }
.zl-zoo.element-download-type-wav { background-image: url(download_type_wav.png) }
.zl-zoo.element-download-type-wma { background-image: url(download_type_wma.png) }
.zl-zoo.element-download-type-wmv { background-image: url(download_type_wmv.png) }
.zl-zoo.element-download-type-xls { background-image: url(download_type_xls.png) }
.zl-zoo.element-download-type-xlsx { background-image: url(download_type_xls.png) }
.zl-zoo.element-download-type-zip { background-image: url(download_type_zip.png) }