/* ZL Textarea Pro */

.creation-form .element-textareapro div.row {
    display: inline-block;
    overflow: visible;
}

.creation-form .element-textareapro .repeatable-content {
	overflow: hidden;
}

.element-textareapro textarea {
	max-width: 620px;
	min-width: 400px;
	min-height: 100px;

	font-size: 11px;
	display: inline-block;
}

.element-textareapro textarea.big { height: 400px }
.element-textareapro textarea.normal { height: 200px }
.element-textareapro textarea.small { height: 100px }
.element-textareapro .ghost textarea,
.element-textareapro .dragging { height: 100px !important }

/* TinyMce */
.element-textareapro .mceEditor.defaultSkin table.mceLayout tr.mceLast > td { padding: 0 }