/* Copyright (C) JOOlanders SL http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only */

.zoocompare-element {
	display: inline-block;
    margin: 0 10px;
}

/* buttons */
.btn.zoocompare {
	float: left;
}
.btn.zoocompare:focus {
    outline: none;
}
.btn.zoocompare.compare {
    margin-right: 5px;
}