
/*
 --- Fields ----------------------------------------------------------------------------------- */
div.zlfield-main.zooaccess .info .anotation {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
    margin-top: 26px;
}

div.zlfield-main.zooaccess .special[data-type=radio] .zl-label {
	margin: 0;
	width: 111px;
}
div.zlfield-main.zooaccess .special[data-type=radio] .zl-label .active {
	display: none;
}
div.zlfield-main.zooaccess .special[data-type=radio] {
	border-bottom: 1px solid #CCCCCC;
    margin: 20px 0 15px;
    padding: 0 !important
}

div.zlfield-main.zooaccess .special[data-type=radio]:nth-child(1) {
	margin-top: 0;
}