/* HerdBoy Web Design (http://herdboy.com) */
.prev, .next {
	text-decoration: none;
}
.prev:hover, .next:hover {
	text-decoration: none;
}
.prev {
	float: left;
}
.next {
	float: right;
}
.infobox {
  background: none repeat scroll 0 0 #EBF5FA;
  border-color: #A1C0D0;
  color: #1D5E80;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
#steps {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
#steps li {
	font-size: 20px;
  line-height: 15px;
	float: left;
	padding: 5px 8px 2px 9px;
	color: #b0b1b3;
}
#steps li span {
	font-size: 11px;
	display: block;
}
#steps li.current {
	color: #FFF;
}
#makeWizard {
	background-color: #b0232a;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 18px;
}
#makeWizard:hover {
	background-color: #000;
}
*/

.prev { float:left;}
.next { float:right;}

.steps {
    list-style:none;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
.steps li {
    color: #b0b1b3;
    font-size: 24px;
    float: left;
    padding: 10px;    
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.steps li span {
    font-size:11px; display:block;
}
.steps li.current {
    color:#000;
}

.stepup {
    height: 37px;
}
.stepup li {
    background: #eee;
    font-size: 14px;
}
.stepup li.current:after {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 6px solid #666;
    content: ' ';
    position: absolute;
    top: 0;
    right: -6px;
}
.stepup li.current {
    background: #666;
    color: #eee;
    position: relative;
}
.stepup li:last-child:after {
    border: none;
}