/**
 * @package     ZOOlanders
 * @version     3.3.15
 * @author      ZOOlanders - http://zoolanders.com
 * @license     GNU General Public License v2 or later
 */

.zl-loader{background:url(../images/loader.gif) no-repeat;width:16px;height:16px;display:inline-block}.zl-loaderhoriz{background:url(../images/loader-horiz.gif) no-repeat;width:60px;height:6px;display:inline-block}.zl-hidden{display:none}