/* Copyright (C) ZOOlanders.com - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only */


/*
 === common ================================================================================ */
.zl-loader{
    background: url(../images/loader.gif) no-repeat scroll 0 0 transparent;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.zl-loaderhoriz {
    background: url(../images/loader_horiz.gif) no-repeat scroll 0 0 transparent;
	width: 60px;
	height: 6px;
	display: inline-block;
}

.zl-hidden { display: none }

/*
 === buttons ================================================================================ */
.zl-btn-help{
    background: url(../images/help.png) no-repeat scroll 0 0 transparent;
	width: 16px;
	height: 16px;
	position: absolute;
    right: 0;
    top: 6px;
	cursor: pointer;
}
.zl-label .qtip-content{display: none;}

/* Add button */
.creation-form .element .zl-btn {
	background: url(../images/plus.png) no-repeat scroll 5px 50% transparent;
    border: 1px solid #CCCCCC;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
	line-height: 21px;
    padding: 1px 8px 1px 7px;
    text-indent: 21px;
	border-radius: 4px;
	width: auto;
	height: auto
}

.creation-form .element .zl-btn:hover {
    background-color: #F3F3F3;
    text-decoration: none;
}


/* Add min width to edit area */
.creation-form { min-width: 622px }


/* Element Edit Tools */
.creation-form .element span.load,
.creation-form .element span.resize {
    display: inline-block;
    height: 20px;
    margin-top: 5px;
    width: 20px;
	vertical-align: top;
}

.creation-form .element span.load {
    background: url(../images/edit.png) no-repeat scroll 5px 4px transparent;
    cursor: pointer;
	width: 21px;
}

.creation-form .element span.resize {
    background: url(../images/resize.png) no-repeat scroll 5px 4px transparent;
    cursor: pointer;
	margin-left: 2px;
	width: 18px;
}


/*
 finder pro =================================================================================== */
 
.finderpro {
    max-height: 300px;
    overflow: auto;
}
.finderpro ul {
    font-size: 11px;
    margin: 0;
    padding: 0;
}
.finderpro ul li {
    line-height: 18px;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 20px;
    white-space: nowrap;
}
.finderpro ul a {
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: block;
    padding: 0 2px;
    text-decoration: none;
}
.finderpro ul a:hover, .finderpro ul .selected > a:hover {
    background: none repeat scroll 0 0 #DDDDDD;
}
.finderpro ul .selected > a {
    background: none repeat scroll 0 0 #EDEDED;
    color: #21759B;
    font-weight: bold;
}

.finderpro ul li.app {background: url(../images/application.png) no-repeat scroll 0 0 transparent}

.finderpro ul li.type.open {background: url(../images/folder_open.png) no-repeat scroll 0 0 transparent}
.finderpro ul li.type {background: url(../images/folder.png) no-repeat scroll 0 0 transparent}

.finderpro ul li.folder {background: url(../images/folder.png) no-repeat scroll 0 0 transparent;}
.finderpro ul li.folder.open {background: url(../images/folder_open.png) no-repeat scroll 0 0 transparent;}

.finderpro ul li.file {background: url(../images/page_white.png) no-repeat scroll 0 0 transparent;}

.finderpro ul li.loading {background: url(../images/loader.gif) no-repeat scroll 0 0 transparent;}


/*
 elements =================================================================================== */

/* Date Pro */
.creation-form .element-datepro img.zoo-calendar{
	cursor: pointer;
	float: none;
	margin: 0
}

/* Item Improve */
#toolbar-box.topbar {
    height: 40px;
    left: 0;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
	
	padding: 0 !important;
}

#toolbar-box.topbar .m{
	border: none;
    border-bottom: 1px solid #CCCCCC;
	border-radius: 0;
}

/*
 price =================================================================================== */

.creation-form .element-price div.row > input {font-size: 15px}