/* Copyright (C) 2013 R.A.S.Lab[.org], http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only */

/* Position: Media */
.zooauthor div.media-top { margin-bottom: 10px; }

.zooauthor div.media-left {
	margin: 4px 10px 0 0;
	float: left;
}

.zooauthor div.media-right {
	margin: 4px 0 0 10px;
	float: right;
}

.zooauthor div.media-middle,
.zooauthor div.media-bottom { margin-top: 10px; }

.zooauthor div.media > img,
.zooauthor div.media > object,
.zooauthor div.media > embed { display: block; }

/* Position: Title */
.zooauthor p.title { margin: 0px; }

/* Position: Meta */
.zooauthor p.meta {
	margin: 0px;
	font-size: 11px;
	color: #999;
	line-height: 13px;
	font-style: italic;
}

/* Position: Description */
.zooauthor div.description { margin: 5px 0 0 0; }

.zooauthor div.description > div { margin-top: 5px; }
.zooauthor div.description > div:first-child { margin-top: 0; }

/* Position: Links */
.zooauthor p.links { margin: 5px 0 0 0; }

.zooauthor p.links span a:after {
	content: " »";
	font-size: 16px;
}
