/* Copyright (C) 2012 R.A.S.Lab[.org] */

/*
 * AuthorLink
 */

.authorlink {
	font-size: 10px; 
	color: 0000FF; 
	float: right;
	text-align: center;
	margin: 5px;
	}
	
.align-none {
	float: none;
	}
.align-left {
	float: left;
	}
.align-right {
	float: right;
	}

.authorlink a {	
		
	}

.authorlink img.vertical {
	border: solid 1px #ccc;
	width: 48px;
	padding: 2px;			
}			

.authorlink img.horizontal {	
	width: 18px;		
}	
