/**
 * @package     ZOOlanders
 * @version     3.3.15
 * @author      ZOOlanders - http://zoolanders.com
 * @license     GNU General Public License v2 or later
 */

div.zlfield fieldset.wrapper div.subsection-title{padding-left:0!important}div.zlfield fieldset.wrapper>.section-title:first-child{margin-top:0}div.zlfield [data-type=separator][data-layout=default]{border-top:1px solid #CCC;margin:15px 0}div.zlfield .section-title,div.zlfield .subsection-title{clear:none;color:#666;display:block;font-weight:lighter;margin:8px 0 6px;text-align:left;text-indent:10px}div.zlfield .section-title{font-size:12px;font-weight:700;margin:18px 0 15px;text-indent:0;border-bottom:1px solid #ccc}