/**
 * @package     ZOOlanders
 * @version     3.3.15
 * @author      ZOOlanders - http://zoolanders.com
 * @license     GNU General Public License v2 or later
 */

.creation-form .zl-separator-subsection{border-bottom:1px solid #CCC;padding-bottom:0;padding-top:20px;margin:0}.creation-form .zl-separator-subsection strong{width:100%;text-align:right}