#zoocart-checkout.hidden {
	display: none;
}

#zoocart-checkout .form-horizontal .control-label {
	text-align: left;
}

#zoocart-checkout.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

button.btn,
input[type='button'].btn,
input[type='submit'].btn { 
	padding: 4px 10px 4px;
}

#zoocart-checkout .row {
	margin-left: 0px;
}

#zoocart-container .well h3,
#zoocart-container .well h4 {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	margin-top:0;
}

.centered {
	text-align: center;
}

table.zoocart-cart,
table.zoocart-order-items{
	border-collapse: collapse!important;
}

table.zoocart-cart tfoot td {
	text-align: right;
	font-weight: bold;
}

table.zoocart-cart p {
	margin-top:0;
}

.spinner-validating {
	display:none;
}

.spinner-validating .validating {
	margin-right: 20px;
}

.zoocart-cart .spinner-validating{
	margin-right: 20px;
}

.zoocart-cart span.spinner {
	margin-right: 60px;
}

#zoocart-checkout .required label:after {	content: " *"; }

.other-addresses,
.payment-list {
	display: none;
	margin-top:20px;
	padding-top:10px;
	border-top: 1px solid #ddd;
}

#zoocart-container.addresses .address {
	border-bottom: 1px solid #ddd;
	padding: 10px 0px;
}

#zoocart-container .addresses input,
#zoocart-container .addresses select {
	width:100%;
}

#zoocart-container .addresses input[type="checkbox"] {
	width: auto;
}

#zoocart-container .addresses .well {
	overflow: hidden;
}

#zoocart-errors{
	display:none;
}

#zoocart-errors h3{
	margin-top:0;
}

select#limit {
	width: auto;
	margin-left: 10px;
	float:right;
}

div.list-footer div.limit {
	width:130px;
	margin-left: auto;
	margin-right: auto;
}

h3.popover-title {
	margin:0;
}

.pay-again {
	margin-right : 10px;
}

#zoocart-container .edit-address {
	margin-right: 5px
}

#zoocart-container .add-address-row {
	margin-top:20px;
}

#zoocart-container .add-address {
	margin-bottom: 10px;
}