/**
 * @package     ZOOlanders
 * @version     3.3.15
 * @author      ZOOlanders - http://zoolanders.com
 * @license     GNU General Public License v2 or later
 */

.element-list .element.zl-separator .name{display:block;text-align:center;min-height:16px;color:#333;text-indent:0;background-image:none}.element-list.unassigned .element.zl-separator .name,.element-list[data-position=unassigned] .element.zl-separator .name{cursor:default}.element-list .element.zl-separator:hover{background:#F6F6F6}