/* Copyright (C) JOOlanders SL http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only */

.zoocompare-module
{
	.container-fluid .row {
		margin-bottom: 8px;
		margin-right: -20px;

		& > div.content {
			float: left;
		}
	}

	button.zoocompare.remove {
		float:right;
	}

	.btns {
		margin-top: 15px;
	}

	p.title {
		margin: 0;
	}

	
	// vertical style
	&[data-zc-style="vertical"] {

		.btns {
			float: right;
		}
	}

	// horizontal style
	&[data-zc-style="horizontal"] {

		.container-fluid {
			text-align: center;

			.row {
				display: inline-block !important;
				padding: 0 41px;

				& > div.content {
					float: none;
				}

				button.zoocompare.remove {
					display: block;
					float: none;
					margin: 0 auto;
				}
			}
		}

		.btns {
			text-align: center;

			button.btn {
				display: inline-block;
				float: none;
			}
		}
	}
}