/* Copyright (C) JOOlanders SL http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only */

.zoocompare-default-layout {

	@main_bg: 		#F8F8F7;
	@dark_bg: 		#e8e8e8;
	@white_bg: 		#FFF;
	@hover_bg: 		#f3f3f3;

	@border: 1px solid #CCC;
	/*@border: 1px solid #000;*/

	.row-fluid.level1,
	.row-fluid.level2 {
		background-color: @main_bg;
		/*background-color: #ccc;*/
	}
	.row-fluid [class*="span"] {
		min-height: 0;
		margin-left: 0;
	}
	.row-fluid.level1 > .span3 {
		font-weight: bold;
	}
	.level3 .data {
		text-align: center;
	}

	// tools buttons
	.tools {
		.btn {
			float: right;
			margin: 20px 0 0 5px;
			padding-top: 3px;

			i {
				margin: -1px 2px 0 0;
			}
		}
	}


	/* ================================================================ table effect === */
	
	.horizontal-mode {
		.row-fluid.level1 {
			border: @border;
			border-bottom: none;

			&.last {
				border-bottom: @border;
			}

			> .span3 { width: 25% }
			> .span9 { width: 75% }
		}
		.row-fluid.level2 {
			> [class*="span"] {
				border-left: @border;
			}

			> .span3 { width: 24.999% }
			> .span4 { width: 33.333% }
			> .span6 { width: 49.999% }
			> .span12 { width: 99.999% }
		}

		/* main-header */
		.row-fluid.main-header:first-child {
			border-top: none;
			border-left-color: transparent;
			background: none;

			> .span9 {
				border-top: @border;
				background: @main_bg;
			}
		}
	}

	.vertical-mode {
		.row-fluid.level1 {
			border: @border;
			border-bottom: none;

			&.last {
				border-bottom: @border;
			}

			// row header
			> .span3 {
				background-color: @dark_bg;
				padding: 5px;
			}
		}

		.row-fluid.level2 {
			> [class*="span"] {
				border-top: @border;
				padding: 5px;
			}
		}

		.header header .content {
			padding: 5px;
		}
	}

	.rows {
		border: @border;
		border-top: none;
		width: 100%;

		&:after {
		    clear: both;
		}
	}

	/* headers row */
	.header {
		header {
			border: @border;
			border-bottom: none;
			width: 100%;

			&:after {
			    clear: both;
			}
		}

		&.has-childs {
			header {
				border-bottom: @border;
			}

			&.last-header {
				/*border-bottom: @border;*/

				&.folded.header {
					border-bottom: none;
				}
				
				.row-fluid.level1.last {
					border-bottom: none;
				}
			}

			.childs {
				border-left: @border;
				border-right: @border;
				width: 100%;

				&:after {
				    clear: both;
				}
				
				.row-fluid.level1 {
					border-left: none;
					border-right: none;
				}
				
				.row-fluid.level1:first-child {
					border-top: none;
				}
			}
		}

	}


	/* ================================================================ specific modes === */

	/* === horizontal mode === */
	.horizontal-mode {
		/* hide */
		.level3 > [class*="span"]:first-child {
			display: none
		}
		
		/* adapt */
		.level3 > .span6 {
		    width: 100%;
		}

		.content {
			padding: 11px;
		}

		.main-header i {
			cursor: pointer;
		}

		// element rows
		.row-fluid.element {
			&:hover [class*="span"] {
			    background-color: @hover_bg;
			}
		}
	}

	/* === vertical mode === */
	.vertical-mode {
		div[class*="span"] {
		    display: block;
		    float: none;
		    margin-left: 0;
		    width: auto;
		}

		/* hide content */
		.main-header {
			display: none;
		}

		// reflect the action on this mode
		.header header {
    		cursor: pointer;
    	}

		.level3 > .span6 {
			/* adapt */
			float: left;
			width: 48.9362%;
		}

		// element rows
		.row-fluid.level2 [class*="span"]:hover {
		    background-color: @hover_bg;
		}
	}

	/* === elements === */
	.row-fluid.element {
		i {
			cursor: pointer
		}

		h4 {
			margin: 0
		}

		a {
			text-indent: 10px
		}
	}

	/* === header === */
	.header header {
		background-color: @white_bg;
		font-size: 15px;
		font-weight: bold;
		
		button {
			background: none;
			border: none;
		    text-align: left;
		    font-size: inherit;
			font-weight: inherit;
			width: 100%;
			color: inherit;
			line-height: 20px;
		}
		i {
			cursor: pointer;
			float: left;
			margin: 3px 10px 3px 0;
		}
	}
}