.contact-form legend {
	font-size: 100% !important;
}

#jform_contact_name, #jform_contact_email, #jform_contact_emailmsg, #jform_contact_message {
	width: 98%;
}

.mod-languages {
	float: right;
	margin-top: 20px;
}
.header-search .search {
	float: right;
	margin: 15px 5px 0px 0px;
}
.header-search form {
	margin: 0;
}
.zoocart-smallcart {
	margin-top: 50px;
	margin-left: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.mod-languages, .header-search .search {
		float: none;
		text-align: center;
		margin: 5px 0 0 0;
	}

	.navbar {
		margin-bottom: 5px;
	}
}

/*.element-relateditems li, .element-relateditems span {
	float: left;
	margin-right: 2%;
	margin-bottom: 5px;
	list-style-type: none;
	text-align: center;
}*/
#yoo-zoo .item div.pos-summary .element {
	display: table;
}
.element-relateditems div.item {
	float: left;
	text-align: center;
	margin-right: 10px;
}
/*.element-relateditems li:last-child, .element-relateditems span:last-child {
	float: none;
	margin-right: 0;
}*/

/*.element-media.last iframe {
	width: auto !important;
	height: auto !important;
}*/
.element-media.first iframe, .element-media.last iframe {
	width: 100% !important;
	height: 530px !important;
}

.price-total {
	text-align: right !important;
}

.small-icon img {
	width: 24px;
}

.uk-slidenav-position {
	margin-bottom: 20px;
}

a.buttonsubmit {
    color: rgb(255, 255, 255);
    background: rgb(0, 136, 204);
	border: none!important;
	border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(9,4,3,0.86);
    cursor: pointer;
    text-align: center!important;
    text-shadow: 0 1px 1px #4A4A4A;
    width: auto!important;
    padding: 20px 40px;
    height: 29px!important;
    line-height: 29px!important;
    display: inline-block;
	font-size: 150%;
}

#yoo-zoo .alpha-index span, #yoo-zoo .alpha-index a:link, #yoo-zoo .alpha-index a:visited {
	font-size: 150%;
}

.nav-pills > li > a {
	color: #ffffff;
}

.footer a:hover {
	text-decoration: none;
}

#yoo-zoo .item div.pos-sidebar .element {
	border: none;
}

#e12813efa-c739-41a0-a618-0bef1c132bab h3 {
	float: left;
	margin-right: 10px;
	font-size: 200%;
}

#yoo-zoo .item h1.pos-title {
	line-height: 40px;
}