.contact-form legend {
	font-size: 100% !important;
}

#jform_contact_name, #jform_contact_email, #jform_contact_emailmsg, #jform_contact_message {
	width: 98%;
}

.mod-languages {
	margin-top: 20px;
	margin-bottom: 20px;
}
.header-search .search {
	float: right;
	margin: 15px 5px 0px 0px;
}
.header-search form {
	margin: 0;
}
.zoocart-smallcart {
	margin-top: 50px;
	margin-left: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

@media (max-width: 479px) {
	.sidebar-nav .menu li {
		margin-bottom: 10px !important;
	}
	.sidebar-nav .moduletable_menu {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.moduletable_search {
		float: left;
	}
	.mod-language {
		float: right;
	}
	.footer {
		padding-right: 10px;
		padding-left: 10px;
	}
	.uk-slidenav-position {
		display: none;
	}
	#content {
		margin-top: 70px;
	}
	#yoo-zoo .alpha-index {
		height: auto;
	}
	#yoo-zoo .categories .width25 {
		width: 100% !important;
	}
	.categories .width25 .category {
		min-height: auto !important;
	}
	#yoo-zoo .item h1.pos-title,
	#yoo-zoo .item p.pos-meta,
	#yoo-zoo .item div.pos-description,
	#yoo-zoo .item ul.pos-specification,
	#yoo-zoo .item div.pos-summary,
	#yoo-zoo .person h1.pos-title,
	#yoo-zoo .person p.pos-meta,
	#yoo-zoo .person div.pos-description,
	#yoo-zoo .person ul.pos-specification,
	#yoo-zoo .person div.pos-movie {
		padding-right: 10px;
	}
	#yoo-zoo .item div.sidebar-right {
		margin-left: 0px;
		float: none;
	}
	#yoo-zoo .item div.element-image.first {
		margin-top: 20px !important;
	}
	#yoo-zoo .item div.element-image img {
		width: 100%;
	}
	#yoo-zoo .person div.pos-sidebar {
		float: none;
		margin: auto;
	}
	#yoo-zoo .person div.pos-sidebar .element {
		margin-top: 20px;
	}
	a.buttonsubmit {
		padding: 20px !important;
	}
}

@media (max-width: 767px) {
	.mod-languages, .header-search .search {
		float: none;
		text-align: center;
		margin: 5px 0 20px 0;
	}
	.navbar {
		margin-bottom: 5px;
	}
	.sidebar-nav .menu li {
		margin-bottom: 10px !important;
	}
	.sidebar-nav .moduletable_menu {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	.custom_contact_footer {
		padding-right: 10px;
	}
}

/*.element-relateditems li, .element-relateditems span {
	float: left;
	margin-right: 2%;
	margin-bottom: 5px;
	list-style-type: none;
	text-align: center;
}*/
#yoo-zoo .item div.pos-summary .element {
	display: table;
}
.element-relateditems div.item {
	float: left;
	text-align: center;
	margin-right: 2%;
	width: 23%;
}
/*.element-relateditems li:last-child, .element-relateditems span:last-child {
	float: none;
	margin-right: 0;
}*/

/*.element-media.last iframe {
	width: auto !important;
	height: auto !important;
}*/
.element-media.first iframe, .element-media.last iframe {
	width: 100% !important;
	height: 530px !important;
}

.price-total {
	text-align: right !important;
}

.small-icon img {
	width: 24px;
}

.uk-slidenav-position {
	margin-bottom: 20px;
}

/*a.buttonsubmit {
    color: rgb(255, 255, 255);
    background: rgb(0, 136, 204);
	border: none!important;
	border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(9,4,3,0.86);
    cursor: pointer;
    text-align: center!important;
    text-shadow: 0 1px 1px #4A4A4A;
    width: auto!important;
    padding: 20px 40px;
    height: 29px!important;
    line-height: 29px!important;
    display: inline-block;
	font-size: 150%;
}
*/
.nav-pills > li > a {
	color: #ffffff;
}

.footer a:hover {
	text-decoration: none;
}

#yoo-zoo .item div.pos-sidebar .element {
	border: none;
}

#e12813efa-c739-41a0-a618-0bef1c132bab h3 {
	float: left;
	margin-right: 10px;
	font-size: 200%;
}
#e12813efa-c739-41a0-a618-0bef1c132bab.element-textpro {
	color: #ffffff;
	margin-top: 10px;
	/*margin-bottom: 10px !important;*/
}

#yoo-zoo .item h1.pos-title {
	line-height: 40px;
}

span.image-title {
	text-transform: uppercase;
	background-color: #e4ecf1;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 120%;
}
.sidebar-nav .menu a {
	color: #000000;
	text-align: center;
}
.sidebar-nav .menu img {
	opacity: 0.6;
}
.sidebar-nav .menu li {
	margin-bottom: 50px;
}
.sidebar-nav .menu .nav-child li {
	margin-bottom: 0px;
	padding-top: 5px;
}
.sidebar-nav ul.nav-child {
	text-align: center;
	text-transform: uppercase;
}
.sidebar-nav .moduletable_menu {
	margin-top: 50px;
	margin-bottom: 100px;
}
input[type="search"] {
	border: 0px solid;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: 0px;
	box-shadow: none;
}

#yoo-zoo .alpha-index {
	background: #e4ecf1;
	border-left: 10px solid #00a652;
	padding-top: 5px;
	padding-bottom: 5px;
	height: auto;
}
#yoo-zoo .alpha-index a:link, #yoo-zoo .alpha-index a:visited {
	color: #e92b34;
	font-weight: bold;
}
#yoo-zoo .alpha-index span {
	color: #e5aaad;
}
#yoo-zoo .alpha-index a, #yoo-zoo .alpha-index span {
	background: none;
	width: 30px;
}
#yoo-zoo .alpha-index span, #yoo-zoo .alpha-index a:link, #yoo-zoo .alpha-index a:visited {
	font-size: 200%;
}

#yoo-zoo .categories {
	margin: 0 !important;
}
.categories .width25 .category {
	background: #e4ecf1;
	padding: 20px 10px 10px 10px !important;
	min-height: 200px;
	margin-bottom: 20px;
}
.categories .category a {
	color: #283890;
	text-transform: uppercase;
	/*font-size: 120%;*/
}
#yoo-zoo .categories h2.title {
	font-size: 130%;
}
#yoo-zoo .categories h2.title span {
	float: right;
	color: #e92b34;
    font-size: 120%;
    border: 2px #e92b34 solid;
    border-radius: 20px;
	width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
#yoo-zoo .categories ul.sub-items {
	margin-top: 20px;
}
#yoo-zoo .categories ul.sub-items li {
	line-height: 20px;
}
#yoo-zoo .categories .width25 {
	width: 23.5%;
	margin-right: 2%;
}
#yoo-zoo .categories .width25.last {
	margin-right: 0%;
}

.footer-container {
	background: rgba(255, 255, 255, 0.5);
}
.copyright-container {
	background: rgba(0, 0, 0, 0.5);
}
.copyright {
	padding: 20px;
	color: #fff;
	font-size: 14px;
}
a#back-top {
	color: #e92b34;
	font-size: 150%;
}
.footer {
	padding-top: 30px;
}
a.buttonsubmit {
	background-color: #e92b34;
	border-radius: 40px;
    cursor: pointer;
    text-align: center!important;
    width: auto!important;
    padding: 20px 40px;
    height: 29px!important;
    line-height: 29px!important;
    display: inline-block;
	font-size: 200%;
	color: #ccc;
	text-transform: uppercase;
	font-weight: bold;
}

#yoo-zoo .zoo-pagination {
	margin-bottom: 30px;
	color: #e92b34;
	font-size: 150%;
}
#yoo-zoo .zoo-pagination span,
#yoo-zoo .zoo-pagination a {
	color: #e92b34;
}
#yoo-zoo .zoo-pagination .end a {
	font-size: 140%;
}
#yoo-zoo .items div.teaser-item {
	padding: 0 !important;
}
#yoo-zoo .items .teaser-item .pos-title {
	background-color: rgba(0,0,0,0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	margin: 0 !important;
}
#yoo-zoo .items .teaser-item .pos-title a {
	color: #fff;
}

#btl-content-login.btl-content-block {
	background: url("../images/login_bg.jpg") left bottom no-repeat #75bbe4 !important;
}
#btl-content-login a {
	color: #e92b34;
}
#btl-content-login a:hover {
	text-decoration: none;
}
#btl-content-login #bt_ul a {
	color: #000000;
}
#btl-content-login #social-connect {
	float: right;
	margin-right: 20px;
}
#btl-content-registration.btl-content-block {
	background: url("../images/register_bg.jpg") left bottom no-repeat #3e82bb !important;
}
#btl-content-registration div.btl-buttonsubmit {
	margin-top: 20px;
}
.btl-content-block h3 {
	background: none !important;
	color: #ffffff;
}

.reset .well, .remind .well {
	background-color: #e92b34;
	color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
	margin-top: 80px;
	border-radius: 0px;
}
.reset button, .remind button, .contact .btn-primary {
	background-color: #e92b34;
	border-color: #e92b34;
	text-transform: uppercase;
	border-radius: 0px;
}
.reset input, .remind input {
	border-radius: 0px;
}
.item-page .page-header,
.contact .page-header,
#yoo-zoo .details h1.title,
#yoo-zoo .item h1.pos-title,
#yoo-zoo .person h1.pos-title {
	background-color: #e92b34;
	color: #fff;
	text-transform: uppercase;
}
.item-page .page-header h2 {
	margin: 0px;
}
.item-page,
#yoo-zoo .item,
#yoo-zoo .person,
#yoo-zoo .mysubmissions,
#yoo-zoo .submission,
.login {
	background-color: #e4ecf1;
	padding-bottom: 20px;
}
.item-page div {
	padding: 10px;
}
#yoo-zoo .mysubmissions h1.headline,
#yoo-zoo .submission h1.headline {
	color: #e92b34;
	text-transform: uppercase;	
}
#yoo-zoo .mysubmissions,
#yoo-zoo .submission {
	padding: 10px;
	margin-bottom: 20px;
}
.contact .page-header h2 {
	margin: 0px;
	padding: 10px;
}
.accordion-group {
	background: #e4ecf1;
	border: 0px solid #e4ecf1;
	border-radius: 0px;
}
.accordion-heading {
	background-color: #ffffff;
	border-left: 5px solid #00a652;
	text-transform: uppercase;
}
#yoo-zoo .details h1.title,
#yoo-zoo .item h1.pos-title,
#yoo-zoo .person h1.pos-title {
	padding-top: 10px;
	padding-bottom: 8px;
}
#yoo-zoo .item h1.pos-title a {
	color: #ffffff;
}
#yoo-zoo .item h1.pos-title a:hover {
	text-decoration: none;
}
#yoo-zoo .item h1.pos-title,
#yoo-zoo .item p.pos-meta,
#yoo-zoo .item div.pos-description,
#yoo-zoo .item ul.pos-specification,
#yoo-zoo .item div.pos-summary,
#yoo-zoo .item div.pos-bottom,
#yoo-zoo .person h1.pos-title,
#yoo-zoo .person p.pos-meta,
#yoo-zoo .person div.pos-description,
#yoo-zoo .person ul.pos-specification,
#yoo-zoo .person div.pos-movie {
	padding-left: 10px;
	padding-right: 10px;
}
#yoo-zoo .details {
	border: none;
}
#yoo-zoo div#comments {
	padding: 10px;
}
#yoo-zoo .item div.pos-summary .element-relateditems {
	width: 100%;
}
#yoo-zoo .item div.pos-sidebar div.element.element-supercontact,
#yoo-zoo .item div.element.element-supercontact {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
}
#yoo-zoo .item div.pos-sidebar div.element.element-supercontact button,
#yoo-zoo .item div.element.element-supercontact button {
	background: #e92b34;
	width: 100%;
    border-radius: 0px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
	padding: 20px;
    margin: 0px;
	text-shadow: none;
}
#yoo-zoo .item div.pos-summary {
    margin: 20px 0px 0px 0px;
    overflow: hidden;
}
#yoo-zoo #comments #respond textarea {
	max-width: 100%;
	border-radius: 0px;
}
#yoo-zoo #comments input[type='submit'] {
	background-color: #e92b34;
	color: #fff;
    border: none;
    padding: 5px;	
}
#yoo-zoo .item div.element-image.first {
	margin-top: 70px;
}
#yoo-zoo .item div.sidebar-right {
	margin-right: 10px;
}
#yoo-zoo .item p.pos-meta {
	color: #000000;
	margin-top: 10px;
}

.quote-reset-btn,
.quote-send-btn,
.quote-reset-btn:hover,
.quote-send-btn:hover,
.login .btn-primary {
	background: #e92b34;
	border-radius: 0px;
	border: none;
	text-shadow: none;
}
.quote-reset-btn {
	float: right;
	margin-right: 0px;
}
.popup-contact input[type="text"],
.popup-contact input[type="url"],
.popup-contact input[type="email"],
.popup-contact input[type="tel"],
.popup-contact input[type="name"],
.popup-contact textarea {
	background: none;
	margin: 3px 0px 0px 0px;
	box-shadow: none;
	width: 95%;
	height: 18px;
	border-radius: 0px;
	font-size: 13px;
	line-height: 18px;
	padding: 6px;
}
.popup-contact textarea {
	height: 50px;
}
.popup-contact select {
	width: 100%;
}
.ui-dialog .ui-dialog-titlebar {
	background: #e92b34;
	color: #ffffff;
}

.ui-widget-overlay {
	opacity: 0.5;
}

div.contact-address {
	width: 100%;
	display: flex;
}
.contact-address div.contact-info,
.contact-address div.contact-map {
	width: 50%;
}

#yoo-zoo div.submission .element > strong {
	text-align: right;
	width: 20%;
}
#yoo-zoo div.submission fieldset legend {
	background: none;
	border-bottom: 1px solid #00a652;
}
.login .well {
	background: none;
	border: none;
	border-radius: 0px;
}

@media (max-width: 959px) and (min-width: 480px) {
	#yoo-zoo .width25 {
		width: 49% !important;
		margin-right: 0px !important;
	}
	#yoo-zoo .width25.first {
		margin-right: 2% !important;
	}
	#yoo-zoo .width25.last {
		margin-left: 2% !important;
	}
}

.moduletable_search {
	border-left: 10px solid #00a652;
	padding: 5px;
	background-color: #ffffff;
	/*margin-left: 2.127659574%;*/
}
.moduletable_search form {
	margin-bottom: 0px;
}
input[type="search"] {
	width: 100%;
}
