/**
 * @package     ZOOlanders
 * @version     3.3.15
 * @author      ZOOlanders - http://zoolanders.com
 * @license     GNU General Public License v2 or later
 */

div.zlfield div.wrapper{min-height:30px;overflow:hidden}div.zlfield fieldset.wrapper{min-height:30px;margin:10px 5px 0;padding:17px;background-color:#FFF;border:1px solid #CCC}div.zlfield fieldset.wrapper div.zl-row{padding-left:0!important}div.zlfield fieldset.wrapper>.layout-separator:first-child{margin-top:0}div.zlfield fieldset.wrapper[data-layout=fieldset-toggle]{min-height:0;position:relative;border-radius:2px}div.zlfield fieldset.wrapper[data-layout=fieldset-toggle] .zl-toggle{border-bottom:1px solid #CCC;display:block;position:absolute;left:0;top:0;width:100%;font-size:55px;padding:5px 0;text-indent:10px;font-weight:700;background-color:#F0F0F0}div.zlfield fieldset.wrapper[data-layout=fieldset-toggle] .zl-toggle .btn-close,div.zlfield fieldset.wrapper[data-layout=fieldset-toggle] .zl-toggle .btn-open{border-radius:2px}div.zlfield fieldset.wrapper[data-layout=fieldset-toggle] .zl-toggle-content{margin-top:20px}div.zlfield fieldset.wrapper[data-layout=fieldset-toggle] fieldset.wrapper[data-layout=fieldset-toggle] .zl-toggle{background-color:#f7f7f7}